@charset "UTF-8";

/* paleta de cores
   verde: #49a09d
   lilas: #5f2c82
*/

*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body,html{
    background-color:#5f2c82 ;
    width: 100vw;
    height: 100vh;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;

}
#login{
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    width: 250px;
    height: 515px;
    border-radius: 20px;
    transform: translate(-50%,-50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}
#login>#imagem{
    display: block;
    background: #5f2c82 url(../imagens/metal.jpg) no-repeat ;
    background-position: center;
    background-size: cover;
    height: 200px;
}
#formulario{
    display: block;
    padding: 10px;
    
}
#formulario>h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario>p{
    font-size: 0.8em;
}
.campo{
    background-color: #5f2c82;
    border: 1px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
.campo>label{
    display: none;
}
.campo>span{

    color: white;
    font-size: 2em;
    width: 40px;
    padding: 5px;
   
    
}
.campo>input{
    background-color: #60bebb;
    padding: 4px;
    font-size: 1em;
    border-radius: 8px;
    border: 0px;
    width: calc(99% - 44px);
    height: 100%;
    transform: translateY(-11px);
   
}
.campo>input:focus-within{
    background-color: white;
}
form>input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color:#49a09d ;
    cursor: pointer;

}
form>input[type=submit]:hover{
    background-color: #397b79;
}
form>a.botao{
    display: block;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    margin-top: 5px;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #ffffff;
    color: #397b79;
    border-radius: 7px;
    border: solid 1px black;
}
form>a.botao:hover{
    background-color: #70e7e3;
}
form>a.botao>span{
    font-size: 1em;
}